body{
    margin: 10px;
    }

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    }

.navbar{
    display: flex;
    justify-content: space-around;
    }

<<<<<<< HEAD
.logo{
    height: 80px;
=======
.mainbutton{
    background-color: aliceblue;
    color: black;
    border: 0px;
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: bolder;
    cursor: pointer;
}

.mainbutton:hover {
    cursor: pointer;
    box-shadow: 1px 1px blue;
    transform: scale(1.1);

>>>>>>> 5-crear-boton-nuevo-post
}